@charset "UTF-8";

html, body {
	background-image: url("../images/fundo.jpg");
	height: 100%;
	margin: 0;
	padding: 0;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 30vh;
}

a {
	color: white;
}

.dropdown-menu a:hover {
	background-color: dimgray;
}